@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Outfit:wght@400;700&display=swap');

* {
    font-family: 'Outfit', sans-serif;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--Light-Grey, #D5E1EF);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 497px;
    background-color: var(--White, #FFFFFF);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.card>img {
    width: 288px;
    height: 288px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #2C7DFA;
    margin-top: 16px;
}

.card>h1 {
    margin-top: 24px;
    color: var(--Dark-Navy, #1F314F);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Outfit;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 288px;
}

.card>p {
    margin-top: 16px;
    color: var(--Grey, #7D889E);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Outfit;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.188px;
    width: 256px;
}